<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	  <a class="navbar-brand" href="/"><font>Home</font></a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
	    <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav" id="headerbar">
            <li class="nav-item">
                <a class="nav-link" href="/soldsystem/sold_num_list">Sold Number List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/product">Product List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/product_analysis">Product Analysis</a>
            </li>   
            <li class="nav-item">
                <a class="nav-link" href="/admin/StockSystem">Admin</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="/bankaccounts/list"><fmt:message key="bankaccount"/></a>
            </li>    
            </ul>	    
        </div>  
</nav>