<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	  <a class="navbar-brand" href="/"><font>Home</font></a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
	    <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav" id="headerbar">
            <li class="nav-item">
                <a class="nav-link{%if soldsystem%} active{%endif%}" href="/soldsystem/sold_num/list">Sold Number List</a>
            </li>
            <li class = "nav-item">
                <a class="nav-link{%if purchasesystem%} active {%endif%}"  href="/purchasesystem/purchase_num/list">Purchase Number List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{%if productsystem%} active{%endif%}" href="/product">Product List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{%if product_analysis%} active{%endif%}" href="/product_analysis">Product Analysis</a>
            </li>   
            <li class="nav-item">
                <a class="nav-link" href="/admin/StockSystem">Admin</a>
            </li> 
            
            </ul>	    
        </div>  
</nav>