<div>
    <form name = "fivesoldnum" class = "form-inline my-2 my-lg-0" action = "/{{selsystem}}/selsession/" method = "POST">
        {% csrf_token %}
        <label>Recently five record: </label>
        <select name = "selsession" class="form-control mr-sm-2">
            {%for num in five_num_list%}
                <option value = "{{num}}">{{num}}</option>
            {%endfor%}
        <select>
        <button type = "submit" value = "view" class="btn btn-outline-success my-2 my-sm-0" name = "fivesoldnum">View</button>
    </form>
</div>