<!-- purchase/purchase_page.html -->
{%extends "../layout/base.html" %}
{%block title%} Purchase {%endblock%}
{%block content %}

<div class='container'>
    {%for message in messages %}
    <div class='alert alert-{{message.tags}}'>{{message}}</div>
    {%endfor%}
    <div class='row'>
        <div class='col-md-12'>
            <div class='panel panel-default'>
                <div class='panel-heading' align=center>
                    <p>進貨</p>
                </div>
                <div class='panel-heading'>

                    <form name = 'purchase', action = '/purchase/update/', method = 'POST'>
                    {%csrf_token%}
                    <table>
                        <tr>
                            <th>{{Product.name}}</th>
                            {%if Product.image%}
                            <td><img src="{{Product.image.url}}" width="100px"/></td>
                            {%else%}
                            <td></td>
                            {%endif%}
                        </tr>
                        {{PurchaseForm.as_table}}
                    </table>
                        <input type = "hidden" value = "{{purchase.id}}" name = 'purchase_id'>
                        <input type = 'submit' value='post' name = 'purchase'>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
{%endblock%}