<!-- sold_page.html -->
{%extends "layout/base.html" %}
{%block title%} Sold {%endblock%}
{%block content %}

<div class='container'>
    {%for message in messages %}
    <div class='alert alert-{{message.tags}}'>{{message}}</div>
    {%endfor%}
    <div class='row'>
        <div class='col-md-12'>
            <div class='panel panel-default'>
                <div class='panel-heading' align=center>
                    <p>出貨</p>
                </div>
                <div class='panel-heading'>
                    <h3>{{Product.name}}</h3>
                    <form name = 'sold_', action = '/sold/update/', method = 'POST'>
                    {%csrf_token%}
                    <table>
                        {{SoldForm.as_table}}
                    </table>
                        <input type = "hidden" value = "{{sold.id}}" name = 'sold_id'>
                        <input type = 'submit' value='post' name = 'sold_'>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
{%endblock%}