<!-- sold_list.html -->
{%extends "layout/base.html" %}
{%block title%} {%endblock%}
{%block content %}
<div class='container'>
    {%for message in messages %}
    <div class='alert alert-{{message.tags}}'>{{message}}</div>
    {%endfor%}
        <div>
                {%include 'layout/selfivenumber.html'%}
        </div>
        <div>
            <table>
                <tr>
                    <td>Sold Number</td>
                    <td>{{session_name}}</td>
                </tr>
            <table>
        </div>
        {%if sold_list%}
        <nav class="nav nav-expand-sm">
            <table id="table_sold_list"></table>
        </nav>
        {%endif%}  
        <div>
            <table>
                {%if sold_list%}
                <form name = 'checkout' action = '/soldsystem/checkout/' method = 'POST'>
                <tr>
                    <td>
                    <label>Original cost</label>
                    </td>
                    <td>
                    <label>{{sold_num.get_total_cost}}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                    <label>Total cost</label>
                    </td>
                    <td>
                    <input type = 'number' value = "{{total_cost}}" id = "total_cost" name = "total_cost">
                    </td>
                </tr>
                {%else%}
                <form name = 'checkout' action = '/soldsystem/sold_num/delete/' method = 'POST'>
                <input type = 'hidden' value = '{{sold_num.id}}' id = "num_id" name = 'num_id'>
                {%endif%}
                {%csrf_token%}
                <tr>
                    <td>
                    <input type = 'submit' value = 'Checkout' class = "btn btn-dark" name = 'checkout' onclick="return(confirm('確定結帳？'))">
                    </td>
                </tr>
                </form>
            </table>
        </div>
                  
        <form name = 'soldnew' action = '/sold/new/' method = 'POST'>
            {%csrf_token%}
            <table>
                {{newsold.as_table}}
            </table>
            <input type = 'submit' value='Create New Sold' class="btn btn-dark" name = 'soldnew'>
        </form>
        




<!-- bootstrap table here -->
<script type="text/javascript">	
//项目根目录
var path = $("#contextPath").val();
$(document).ready(function() {
	//初始化Table
    var oTable = new TableInit();
    oTable.Init();
    
    //初始化页面上面的按钮事件
	$("#btn_add").click(function(){
		//window.location.href = '/soldcart/new';
	}); //create
	$("#btn_edit").click(function(){
		//编辑
	});
	$("#btn_info").click(function(){
		//详情
	});
	$("#btn_delete").click(function(){
		//删除
	});
});
var TableInit = function () {
    var oTableInit = new Object();
    //初始化Table
    oTableInit.Init = function () {
        $('#table_sold_list').bootstrapTable({
            //url: 'Account/projects/listdata',         //请求后台的URL（*）
            method: 'get',                      //请求方式（*）
            toolbar: '#toolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: true,                     //是否启用排序
            sortName:"id",
            data : getData(),
            sortOrder: "desc",                   //排序方式
            queryParams: oTableInit.queryParams,//传递参数（*）
            queryParamsType: 'limit',
            //sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber:1,                       //初始化加载第一页，默认第一页
            pageSize: 15,                       //每页的记录行数（*）
            pageList: [10, 15, 20, 50],        //可供选择的每页的行数（*）
            search: true,                       //是否显示表格搜索
            strictSearch: false,                //完全批配搜尋
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: false,                //是否启用点击选中行
            //height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "id",                     //每一行的唯一标识，一般为主键列
            showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表
            contentType: "application/x-www-form-urlencoded", //解决POST提交问题
            columns: [
            	{field:'checkbox', title:'選取', align:'center', width:80, visible:true, checkbox:true},
                //{field:'id', title:'ID', align:'center', width:60, visible:true, sortable:true, 
            	//	formatter: function(value){ return '<a href = "/customers/'+value+'">'+value+'</a>'; } },
                //{field:'image', title:' ', align:'center', visible:true, sortable:true},
                {field:'name', title:'Product Name', align:'left', width:200, visible:true, sortable:true},
                {field:'amount', title:'Amount', align:'left', width:200, visible:true, sortable:true},
                {field:'price', title:'Price', align:'left', width:200, visible:true, sortable:true},
                {field:'cost', title:'Cost', align:'left', width:200, visible:true, sortable:true},
                {field:'checkout', title:'checkout', align:'center', width:50, visible:true},
                {field:'delete', title:'delete', align:'center', width:50, visible:true,
                    formatter: function(value){ return '<form name = "delete_sold" action = "/sold/delete/" method = "POST">'+
                    '{%csrf_token%}'+
                    '<input type = "hidden" name = "sold_id" value = "'+value+'">'+
                    '<input type = "submit" class = "btn btn-dark" value = "Delete" name = "delete_sold" onclick="return(confirm(\'確定要刪除？\'))"></form>';} }
                //{field:'ind', title:'modify', align:'center', visible:true,
                //	formatter: function(value){ return  '<a href = "/product/'+value+'"><i class="fas btn-dark fa-eye" ></i></a>';} }

                //{field:'modifyById', title:'<fmt:message key="general.operate"/>', align:'center', visible:true,
                //	formatter: function(value){ return  '<a href = "/customers/'+value+'"><i class="fas fa-eye"></i></a>'+
                //										'<a href = "/customers/update/'+value+'"><i class="fas fa-pencil-alt"></i></a>'+
                //									    '<a href = "/customers/delete/'+value+'"><i class="fas fa-trash-alt"></i></a>'; } }
            ]
        });
        $(document).ready(function() {
            $('#table_sold_list').DataTable();
        } );
    };
 
    //得到查询的参数
    oTableInit.queryParams = function (params) {
        var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
        	pageSize: params.limit,   //页面大小
    		pageNumber: params.pageNumber, //页码
    		sortName: params.sort,	//排序列名
    		sortOrder:params.order,	//排序方式
    		searchText:params.search	//搜索框参数
        };
        return temp;
    };
    return oTableInit;
    
};
function getData() { //修改資料
	  var data = [];	  
	  //for (var i = 0; i < ; i++) {
	  {%for sold in sold_list%}
	    data.push({
          name: "{{sold.product}}",
	      amount: "{{sold.amount}}",
          price: "{{sold.price}}",
          cost: "{{sold.get_cost}}",
          {% if sold.checkout %}
            checkout: "<i class=\"far fa-check-square\"></i>",
          {%else%}
            checkout: "",
          {%endif%}
          delete: "{{sold.id}}"
	   });
	  {%endfor%}
	  //}
	  return data;
	}
</script>
{%endblock%}